.anecdotes {
    width: 70%;
    margin: 0.5em auto;
    padding: 1em 2em;
    border: 1px solid green;
}
h2 {
    text-align: center;
    color: green;
    font-weight: bolder;
}
button {
    padding: 10px;
    color: green;
    font-weight: bold;
    font-family: cursive;
}